.statistics {
  width: 600px;
  background-color: #fff;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin: 70px 0 70px 0;
}

.statList {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4);
  height: 120px;
  outline: 1px solid #000;
  gap: 10px;
}
